<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Listagem de Criações</h1>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Raça</th>
          <th>Data de Criação</th>
        </tr>
      </thead>
      <tbody>
        {% for criacao in criacoes %}
        <tr>
          <td>{{ criacao.id }}</td>
          <td>{{ criacao.raca }}</td>
          <td>{{ criacao.data_criacao }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
